*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 13px;
  font-family:'IBM Plex Sans', sans-serif;
}
body{
  user-select: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  
}
body img{
  -webkit-user-drag: none;
}
